.container-fluid {
    background-color: #fafafa;
    height: 100vh;
}

#plan-type {
    font-size: xx-large;
    margin-right: 5px;
}

#clip-board {
    fill: white;
}

.card-text {
    font-size: 1.3rem;
}